node "mgmt" {
  $server = "mgmt.example.com";
  class { 'systools': }
  class { 'puppet::master':
    server => $server,
    certname => $server
  }
  class { 'drush': }
  class { 'jenkins': }
  class { 'postfix': }
  class { 'php': }
  class { 'mysql':
    hostname => 'mgmt',
  }
  class { 'aegir::master':
    hostmaster_url => $server,
    db_password => 'password',
    email => 'admin@example.com',
  }

  jenkins::job { "nodestream":
    jobfile => "puppet:///modules/jenkins/jobs/nodestream.xml"
  }

  jenkins::job { "nodestream-migrate":
    jobfile => "puppet:///modules/jenkins/jobs/nodestream_migrate.xml"
  }
  
}
